<%- include("./parts/header.ejs")  %>  

   

<section class="mt-4">
    <div class="container">
        <h3 class="text-center">
            Messages (<%= receiver.name %> )
        </h3>

         
</section> 


<%- include("./parts/footer.ejs")  %> 