<%- include("./parts/header.ejs") %> 

<section class="mt-5">
    <div class="container">
        <h3 class="text-center text-primary">
            <%= user.name%>'profile
        </h3>
    </div>
</section>



<%- include("./parts/footer.ejs") %> 